*{
    font-family: 'Roboto';
    padding: 0;
}

.navbar img{
    width:100px;
}

.success{
    background-color: rgb(58, 143, 58);
    color: white;
    box-shadow: 0 4px 6px rgba(0, 128, 0, 0.2);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    max-width: 20rem;
    margin: 0 auto;
    margin-top: 20px;
}

#cards-container{
    justify-content: center ;
}
/* Garante que todas as imagens tenham o mesmo tamanho */
.card-img-top {
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

/* Ajusta os cards para ficarem mais harmoniosos */
.card {
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}

/* Ajusta o botão */
.card-body .btn {
    margin-top: 10px;
    width: 100%;
}

.btn {
    border:none;
}

.input-group .btn img {
    width: 20px;
    height: 20px;
}



/* Aumenta a largura do input */
.input-group .form-control {
    width: 30rem;
    background-color: #f2f2f2; /* Cinza claro */
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
}


.input-group .form-control:focus {
    outline: none;
    box-shadow: none;
}

/*Create product*/

#event-create-container{
    padding: 50px;
    
}
#event-create-container form{
  display: flex;
  flex-direction: column;
}

#event-create-container .form-group{
    padding: 5px;
}

#event-create-container input{
    outline: none;
    box-shadow: none;
}
#event-create-container label{
    font-weight: bold;
}  

#event-create-container textarea{
    font-size: 12px;
    box-shadow: none;
}
#event-create-container .btn {
    margin: 0 auto;
    background-color: rgba(255, 0, 0, 0.541);
}
#event-create-container .btn:hover{
    background-color: rgba(255, 0, 13, 0.904);
    font-size: 18px;
    transition: .6s;
}


/*show-product*/

.product-card {
    border-radius: 20px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.product-card:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.product-card h2 {
    font-size: 1.8rem;
}

.product-card p {
    font-size: 1.05rem;
    line-height: 1.6;
}

.product-image {
    width: 70%;
    height: 300px;
    object-fit: cover;
    border-radius: 15px;
}